/* 노말라이즈 */
* {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    list-style: none;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
	border: none;
    background-color: inherit;
}
.wrap {
    width: 100%;
    margin: 0 auto;
}

.grow {
    flex-grow: 1;
}


body {
    background-color: #FFFEFC;
}

/* header 시작 */
header {
    width: 100%;
    /* background-color: rgba(255, 253, 252, 1); */
    background-color: #F7F2EC;
    position: fixed;
    top: 0;
    z-index: 1000;
}
header.scroll {
    background: linear-gradient();
}

.top_bar {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 143px;
    height: 26px;
    margin-bottom: 4px;
}

.logo img {
    width: 100%;
}

.menu ul {
    display: flex;
    color: #181817;
    font-size: 16px;
    line-height: 64px;
    gap: 36px;
    margin-left: 36px;
}

.menu ul li {
    font-weight: 300;
}

.menu ul li a:hover {
    font-weight: 600;
    color: #3D3D3B;
}

.search {
    width: 253px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1F1E1D;
    margin-right: 2px;
}
.search input {
    width: 230px;
    font-size: 14px;
    color: #181817;
}
.search input:focus {
    outline: none;
}
.search input::placeholder {
    color: #726E6B;
}
.search .icon_box > img {
    margin-top: 7px;
    cursor: pointer;
}
.search .icon_box > img:hover {
    filter: opacity(0.5);
    transition: all 0.1s ease-in-out;
}

/* header 끝 */


/* .product 시작 */
.product {
	/* height: 824px; */
	margin-top: 140px;
	margin-bottom: 100px;
}
.product > .inner {
	width: 1440px;
    /* width: 92%; */
    /* max-width: 1440px; */
    /* min-width: 1380px; */
	margin-left: auto;
	margin-right: auto;
}
.product > .inner .pd_box {
	width: 100%;
	height: 734px;
	display: flex;
    gap: 44px;
    justify-content: space-between;
	align-items: center;
    color: #181817;
}
.product > .inner .pd_box > div:first-child {
	height: 100%;
	/* margin-right: 84px; */
}
.product > .inner .pd_box > div:last-child {
	width: 622px;
}

.product > .inner .pd_box > div img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}
.product > .inner .img_box {
	width: 252px;
	margin-top: 10px;
	display: flex;
	gap: 6px;
}
.product > .inner .img_box > img {
	width: 80px;
	height: 80px;
	display: block;
    cursor: pointer;
    border-radius: 1px;
}

.pd_txt_box > .title_box {
	padding-bottom: 36px;
	margin-bottom: 36px;
	border-bottom: 1px solid #E2E2E2;
	font-size: 24px;
}
.pd_txt_box > .title_box > div:last-child {
	margin-top: 10px;
	font-size: 28px;
	font-weight: 700;
}
.pd_txt_box > .fee_box {
	margin-bottom: 36px;
}
.pd_txt_box > .fee_box > :nth-child(2) {
	color: #888888;
	margin-top: 8px;
}
.pd_txt_box > .fee_box > .flex {
	display: flex;
	align-items: center;
	margin-top: 64px;
}
.pd_txt_box > .fee_box .btn_box {
	display: flex;
	height: 37px;
	border: 1px solid #EFEFEF;
}
.pd_txt_box > .fee_box .btn_box > button {
	width: 37px;
	height: 100%;
/* 	outline: 1px solid #EFEFEF; */
}
.pd_txt_box button > a {
	display: flex;
    justify-content: center;
    align-items: center;
	line-height: 48px;
}
.pd_txt_box > .fee_box .btn_box input {
	width: 44px;
	height: 100%;
	outline: 1px solid #EFEFEF;
	text-align: center;
    font-size: 16px;
	padding-right: 1px;
}

.pd_txt_box > .btn_box {
	border-top: 1px solid #E2E2E2;
    color: #181817;
}
.pd_txt_box > .btn_box > div {
	height: 48px;
	margin-top: 8px;
}
.pd_txt_box > .btn_box > div:first-child {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	margin-top: 36px;
}
.pd_txt_box button {
	font-size: 16px;
}

/* 장바구니, 찜 버튼 */
.pd_txt_box > .btn_box > div:first-child > button  {
	width: 306px;
	border: 1px solid #c6c6c6;
	border-radius: 1px;
}
/* 구매하기 버튼 */
.pd_txt_box > .btn_box > div:nth-child(2) > button {
	width: 100%;
	text-align: center;
	background-color: #EEE6DD;
	font-weight: 700;
	border-radius: 1px;
}
.pd_txt_box > .btn_box > div:last-child > button {
	width: 100%;
	text-align: center;
	border: 1px solid #c6c6c6;
	border-radius: 1px;
}
.pd_txt_box > .btn_box > div:last-child > button img {
	width: 52px;
	height: 21px;
	display: block;
	margin-right: 10px;
}

/* input number 화살표 지우기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input number 화살표 지우기 */
/* .product 끝 */

/* .tap 시작 */
.tap {
	margin-bottom: 150px;
}
.tap > .tap_inner {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
	margin: 0 auto;
}
.tap > .tap_inner > ul {
/* 	width: 100%; */
	display: flex;
}
.tap > .tap_inner > ul > li {
	width: 33.333%;
	background-color: #F9F9F9;
	text-align: center;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.tap > .tap_inner > ul > li > a {
	display: block;
	line-height: 48px;
}
/* .tap 끝 */

/* .detail_info 시작 */
.detail_info > .detail_inner  {
    width: 860px;
    margin: 0 auto;
}
.detail_info > .detail_inner > .img_box {
    height: 2800px;
    position: relative;
    overflow-y: hidden;
}
.detail_info > .detail_inner > .img_box.active {
    height: inherit;
    position: relative;
    overflow-y: hidden;
}
.detail_info > .detail_inner > .img_box {
    height: 2800px;
    position: relative;
    overflow-y: hidden;
}


.detail_info > .detail_inner > .img_box > img {
    width: 100%;
}
.detail_info > .detail_inner .btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 50%; */
    /* transform: translatex(-50%); */
}
.detail_info > .detail_inner .btn_box .detail_btn {
    width: 478px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFEFE;
    border: 1px solid #181817;
    border-radius: 1px;
    gap: 6px;
    z-index: 8;
    margin-top: -30px;
}
.detail_info > .detail_inner .btn_box .detail_btn.more {
    margin-top: 20px;
}
.detail_info > .detail_inner .btn_bg {
    width: 860px;
    height: 100px;
    background: linear-gradient(rgba(255, 254, 254, 0), #FFFEFE);
    /* background-image: linear-gradient(to bottom, rgb(225 67 67 / 0%) 5%, rgba(255, 255, 255, 0.8)); */
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.detail_info > .detail_inner .btn_bg.active {
    display: none;
    z-index: -1;
}
.detail_btn > img {
    width: 16px;
    height: 16px;
}
.detail_btn > img.active {
    transform: rotate(180deg);
}
/* .detail_info 끝 */




/* .pick 스와이퍼 슬라이드 시작 */
.pick {
    margin-top: 160px;
}
.pick_swiper {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
	display: flex !important;
	flex-direction: column;
}
.pick_swiper > .pick_title {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
    margin-bottom: 24px;
}
.pick_swiper > .pick_wrapper{
	height: 100%;
}
.pick_swiper .swiper_button_box {
    width: 100px;
    height: 40px;
    margin: 0;
    margin-left: auto;
    margin-right: 1px;
    position: relative;
}
/*버튼을 감싸는 div태그*/

/*버튼위치 시작*/
.swiper_button_box > .swiper-button-next {
/* 	left: auto !important; */
	right: 0% !important;
}
/*버튼위치 끝*/

.pick .swiper-button-prev::after,
.pick .swiper-button-next::after {
	color: #181817;
    font-size: 0;
}
.pick .swiper-button-prev > img {
    transform: rotate(180deg);
}


/* .swiper-slide 슬라이더 배경 부분! */
.pick_wrapper > .pick_slide {
	display: flex;
	height: 100%;
    gap: clamp(1px, 1vw, 16px);
}
/* pick_slide 상품 나열 */
.pick_slide > div {
	width: 25%;
/* 	background-color: #efefef; */
}
/* .pick_slide .img_box {
	width: 100%;
} */
.pick_slide .img_box img {
	width: 100%;
}
.pick_slide .txt_box {
	font-weight: 500;
	margin-top: 12px;
    padding: 0 2px;
}
.pick_slide .txt_box .right {
	text-align: end;
	margin-top: 10px;
	font-weight: 700;
}
.pick_slide .txt_box .right span {
	text-decoration: line-through;
	color: #999999;
	font-weight: 400;
	margin-right: 8px;
}
/* .pick 스와이퍼 슬라이드 끝 */

/* review 시작 */
#review {
    margin-top: 150px;
}
#review > .inner {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
    margin: 0 auto;
}
#review > .inner > .review_title {
    display: flex;
}
#review > .inner > .review_title div > span {
    color: #999999;
}
#review > .inner > .review_title div > span:first-child {
    padding-right: 10px;
    border-right: 1px solid #e2e2e2;
    cursor: pointer;
}
#review > .inner > .review_title div > span:last-child {
    padding-left: 8px;
    cursor: pointer;
}
#review > .inner > .review_title div > span.bold {
    font-weight: 700;
}
.review_img_view {
    display: flex;
    gap: 8px;
    margin-top: 40px;
    margin-bottom: 48px;
}
.review_img_view > div {
    width: 120px; height: 120px;
    border-radius: 1px;
    overflow: hidden;
}
.review_img_view > div > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.review_img_view > div:last-child > img {
    filter: brightness(0.3);
}
.review_img_view > .img_relative {
    position: relative;
}
.review_img_view > .img_relative > span {
    position: absolute;
    z-index: 10;
    color: #FFFEFE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.review_review_box:not(:last-child) {
    margin-bottom: 32px;
    cursor: pointer;
}
.review_review_box > .review_inner {
    font-size: 14px;
}
.review_review_box > .review_inner > div > .profile_box {
    display: flex;
    margin-bottom: 24px;
}
.review_review_box > .review_inner .profile {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.review_review_box > .review_inner .profile > img {
    width: 100%;
    height: 100%;
}
.review_review_box > .review_inner .profile .star {
    margin-top: 4px;
}
.review_review_box > .review_inner > div:last-child .txt_box {
    cursor: pointer;
}
.review_review_box > .review_inner > div .txt_box > .img_box {
    width: 120px;
    height: 120px;
    margin-bottom: 12px;
    border-radius: 1px;
    overflow: hidden;
}
.review_review_box > .review_inner > div .txt_box > .img_box > img {
    width: 100%;
    height: 100%;
}
.review_review_box > .review_inner .profile_box .txt_box {
    color: #9E9E9E;
}
.review_review_box > .review_inner .txt_box .txt_body {
    color: #767676;
    line-height: 21px;
}
.review_review_box > .review_inner > div .txt_box > .name {
    color: #767676;
}

.review_review_box > .review_inner .profile_box .star > img {
    width: 13px; height: 13px;
    margin-top: 4px;
    margin-right: -3px;
}
/* .review_inner div > .clip_path {
	width: 13px;
	height: 13px;
	margin-top: 6px;
	background-color: #FA9F37;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	border-radius: 10px;
} */
/* review 끝 */

/* qna 시작 */
#qna {
    margin-top: 80px;
    margin-bottom: 160px;
    color: #999999;
}
#qna > .qna_inner {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
    margin: 0 auto;
}
.qna_title {
    display: flex;
    align-items: center;
    color: #181817;
}
.qna_title .qna_btn {
    color: #D9C6B0;
    width: 133px;
    height: 40px;
    border: 1px solid #D9C6B0;
    border-radius: 1px
}
.qna_body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    font-size: 14px;
}
.qna_body > div {
    display: flex;
    gap: 48px;
}
.qna_body > div > .title {
    color: #999;
    cursor: pointer;
}
.qna_body > div:first-child > .title {
    color: #333;
}
.qna_body > div:last-child > .title {
    color: #333;
}
.qna_body > div > .answer {
    font-weight: 600;
}
.qna_body > div:not(:first-child) > .answer {
    color: #D9C6B0;
}
.qna_body > div > div {
    height: 21px;
    display: flex;
    align-items: center;
    gap: 6px;
}a_body > div img {
    width: 13px;
    height: 15px;
}
/* qna 끝 */


/* footer 시작 */
footer {
    width: 100%;
    height: 254px;
    display: flex;
    background-color: #F7F2EC;
    color: #181817;
    border-radius: 40px 0 0 0;
}

.footer_con {
    width: 92%;
    max-width: 1440px;
    min-width: 1080px;
    height: 100%;
    margin: 0 auto;
    /* display: flex; */
}

.ft_logo {
    width: 116px;
    height: 26px;
    margin-top: 38px;
}

.ft_logo img {
    width: 100%;
    height: 100%;
}

.footer_con .ft_contents {
    color: #333 !important;
}
.ft_contents {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 23px;
}

.ft_contents1 {
    width: 335px;
    display: flex;
    align-items: end;
}

.ft_contents1 .ft_menu ul {
    display: flex;
    font-size: 12px;
}

.ft_contents1 .ft_menu ul li {
    margin-top: 4px;
    margin-right: 12px;
}
.ft_contents1 .ft_menu > div {
    margin-top: 4px; 
    font-size: 12px;
}

.ft_contents1>span {
    display: block;
    font-weight: 100;
    font-size: 12px;
}

.ft_contents2 {
    text-align: end;
}
.ft_contents2 > h2 {
    padding-bottom: 2px;
    color: #181817;
}
.ft_contents2 > .time span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #767676;
}

.ft_contents2>span {
    font-size: 12px;
    font-weight: 100;
    display: block;
}

.ft_contents2>.ft_sns {
    display: flex;
    gap: 30px;
    margin-top: 48px;
    padding-left: 81px;
    filter: brightness(.2);
}

.ft_contents2>.ft_sns>a>img {
    width: 20px;
    height: 20px;
}

.ft_contents2>.ft_sns>a:last-child>img {
    padding-top: 2px;
    width: 22px;
    height: 16px;
}
.ft_contents3 {
    display: flex;
    justify-content: space-between;
}
.ft_contents3 > div {
    display: flex;
    gap: 24px;
    font-size: 12px;
}
.ft_contents3 > div > a {
    height: 100%;
}
.ft_contents3 > div > a > span {
    display: block;
    height: 100%;
}

/* footer 끝 */


/* top_btn 시작 */
.top_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 100px;
    position: fixed;
    bottom: -10%;
    left: 92%;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: bottom 1s;
}

.top_btn>.btn_icon_box {
    width: 18px;
    height: 26px;
}

.top_btn>.btn_icon_box>img {
    width: 100%;
}

.top_btn.show {
    bottom: 80px;
    transition: all 1s;
}

/* top_btn 끝 */


/* top_btn_white 시작 */
.top_btn_white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100px;
    position: fixed;
    bottom: -10%;
    left: 92%;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(255, 253, 252, 0.5);
    z-index: 200;
}

.top_btn_white>.btn_icon_box {
    width: 18px;
    height: 26px;
}

.top_btn_white>.btn_icon_box>img {
    width: 100%;
}

.top_btn_white.show {
    bottom: 80px;
    left: 92%;
}

/* top_btn_white 끝 */

@media (max-width: 1600px) {
    .product > .inner {
        width: 1380px;
    }
    .product > .inner .pd_box {
        height: 694px;
    }
    .pd_txt_box > .btn_box > div:first-child > button {
        width: 100%;
        min-width: 266px;
    }
    .tap > .tap_inner {
        width: 1380px;
    }
}
@media (max-width: 1440px) {
    .menu ul {
        gap: 28px;
    }

}